.clearfix:before,
.clearfix:after{
content: " ";
display: table;
clear: both; /*http://haoduoshipin.com/v/166*/
}

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	
	 
}

h3{
	padding-left: 0.5em;
	padding-bottom: 0.5em;
}
a{
	text-decoration: none;
	    color: #1e1e1e;
}
ul{
	list-style: none;
}
body{
	 background: #EAEAF1;
	 font-size: 63%;
	 font-family: Helvetica,
	 Arial,
	 "Hiragino Sans GB",
	 "Microsoft Yahei",
	 "微软雅黑",
	 STHeiti,
	 "华文细黑",
	 sans-serif;
}
h1, h2, h3, .h1, .h2, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.header{
    width: 100%;
    
}
.header .logo{
    text-align: center;
    background-color: #CFD8DC;
}

.header ul{
    width: 100%;
    height: 2em;
    text-align: center;
    font-weight: bold;
    padding-top: 3%;
}
.header ul li{
    float: left;
    font-size: 2em;
    width: 20%;
}
.main{
    padding-bottom: 2em;
}
.main .img{
    background-position-x:center;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    margin-top: 3%;
}
.homepage-1 .cta-container h2 {
    font-size: 28px;
    line-height: 30px;
    text-transform: none;
    letter-spacing: 0;
}
h2, .h2 {
    font-size: 40px;
    letter-spacing: .00001em;
    line-height: 40px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    text-transform: uppercase;
}
h2 {
    display: block;
    font-size: 1.8em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.main .cta-container .cta-container-inner, .homepage-1 .cta-container.center .cta-container-inner {
    margin: 0 auto;
    max-width: 980px;
    text-align: center;
    width: 100%;
}
.homepage-1 .cta-container h3 {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: .00125em;
    line-height: 13px;
    margin: 14px 0 30px;
    text-transform: uppercase;
}
h3 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.button-group {
    text-align: center;
}
.btn-primary {
    color: white;
    background-color: #1e1e1e;
    border: 0;
    box-shadow: inset 0 0 0 3px #1e1e1e;
}
button, input[type="button"], input[type="submit"], .btn {
    transition: all .125s ease-in-out;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 40px;
    min-width: 200px;
    max-width: 404px;
    margin-bottom: .25em;
    padding: 0 20px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    vertical-align: middle;
}
a {
    color: #1e1e1e;
}
a {
    background: transparent;
}
user agent stylesheeta:-webkit-any-link {
   
    text-decoration: underline;
    cursor: auto;
}
.mani1{
    background: #f7f8f9;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
     background-size: cover;
}

.main1 .shop-by-label{
    padding-top: 2em;
}
 .shop-by-label a{
    text-decoration: none;
    color: #acb1b4;
}
.shop-by-label{
    padding-left: 10%;
}
.shop-by-type{
color: #1e1e1e;
    display: block;
    font-size: 12px;
    margin-top: 6px;
    text-transform: uppercase;
    letter-spacing: .25px;
 }   


.homepage-2 {
background: #f7f8f9;
background-size: cover;
}

.homepage-2 .homepage-3up {
margin-left: auto;
margin-right: auto;
padding: 0;
max-width: 940px;
text-align: center;
}

@media screen and (min-width: 990px)
.desktop-col-4-gutter-full {
width: 33.3333333333%;
}
@media screen and (min-width: 768px)
.tablet-col-12-gutter-full {
width: 100%;
}
.col-12-gutter-full {
width: 100%;
}
.col-gutter-full {
vertical-align: top;
box-sizing: border-box;
display: inline-block;
float: none;
margin-right: -0.31em;
width: 8.3333333333%;
padding-top: 1em;
padding-left: 1em;
}

.homepage-2 .homepage-3up .homepage-3up-cell {
margin-bottom: 56px;
}

.homepage-2 .homepage-3up {
text-align: center;
}

.homepage-2 .homepage-3up img {
max-width: 100%;
transition: opacity .25s cubic-bezier(0.55,0,0.1,1);
}
img {
border: 0;
}

.homepage-2 .homepage-3up .shop-by-label {
color: #acb1b4;
font-size: 11px;
margin-top: 24px;
letter-spacing: .25px;
}
.homepage-2 .homepage-3up a {
text-decoration: none;
color: #acb1b4;
}
.homepage-2 .homepage-3up .shop-by-type {
color: #1e1e1e;
display: block;
font-size: 12px;
margin-top: 6px;
text-transform: uppercase;
letter-spacing: .25px;
}
