.clearfix:before,
.clearfix:after{
content: " ";
display: table;
clear: both; /*http://haoduoshipin.com/v/166*/
}

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;		 
}
a{
    text-decoration: none;
        color: #1e1e1e;
}
h3{
	padding-left: 0.5em;
	padding-bottom: 0.5em;
}

ul{
	list-style: none;
}
body{
	 background: #EAEAF1;
	 font-size: 63%;
	 font-family: Helvetica,
	 Arial,
	 "Hiragino Sans GB",
	 "Microsoft Yahei",
	 "寰蒋闆呴粦",
	 STHeiti,
	 "鍗庢枃缁嗛粦",
	 sans-serif;
}
h1, h2, h3, .h1, .h2, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.header{
    width: 100%;
    
}
.header .logo{
    text-align: center;
    background-color: #CFD8DC;
}

.header ul{
    width: 100%;
    height: 2em;
    text-align: center;
    font-weight: bold;
    padding-top: 3%;
}
.header ul li{
    float: left;
    
}

.header ul li a:hover{
    color: #CFD8DC;
}
@media (min-width: 768px){
    .header ul li{
      font-size: 2em;
    width: 20%;
    }
    }
.main{
    padding-bottom: 2em;
}
.main .img{
    background-position-x:center;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    margin-top: 3%;
}
.homepage-1 .cta-container h2 {
    font-size: 28px;
    line-height: 30px;
    text-transform: none;
    letter-spacing: 0;
}
h2, .h2 {
    font-size: 40px;
    letter-spacing: .00001em;
    line-height: 40px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    text-transform: uppercase;
}
h2 {
    display: block;
    font-size: 1.8em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.main .cta-container .cta-container-inner, .homepage-1 .cta-container.center .cta-container-inner {
    margin: 0 auto;
    max-width: 980px;
    text-align: center;
    width: 100%;
}
.homepage-1 .cta-container h3 {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: .00125em;
    line-height: 13px;
    margin: 14px 0 30px;
    text-transform: uppercase;
}
h3 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.button-group {
    text-align: center;
}
.button-group .btn-primary:hover{
    color: #2e2e2e;

}
.btn-primary {
    color: white;
    background-color: #1e1e1e;
    border: 0;
    box-shadow: inset 0 0 0 3px #1e1e1e;
}
button, input[type="button"], input[type="submit"], .btn {
    transition: all .125s ease-in-out;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 40px;
    min-width: 200px;
    max-width: 404px;
    margin-bottom: .25em;
    padding: 0 20px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    vertical-align: middle;
}
a {
    color: #1e1e1e;
}
a {
    background: transparent;
}
user agent stylesheeta:-webkit-any-link {
   
    text-decoration: underline;
    cursor: auto;
}
@media (min-width: 768px){
    .main1{
        width: 100%;
        text-align: center;
        
    }
    .mainleft{
        width: 33.333333%;
        float: left;
        padding-bottom: 1.3em;
        
    }
  .main1 img{
    width: 90%;
    
  }
  .main1 a{
    opacity: 0.8;
  }
  .main1 a:hover{
        opacity: 1;
        color:  #2e2e2e;
  }
    .mainauto{
        float: left;
        width: 33.333333%;
    }
    .mainright{
        float: left;
        width: 33.333333%;
    }
    .shop-by-label{
    padding-top: 2em;
}
 .shop-by-label a{
    text-decoration: none;
    color: #acb1b4;
}
.shop-by-label{
    text-align: center;
}
.zz{
    margin-bottom: 1.3em;
}
    }
@media (min-width: 768px){
    .homepage-3 {
    padding-bottom: 15px;
}
.product-grid-module {
    background: #fff;
    clear: both;
    margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
.product-grid-module-inner {
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.product-grid-module h2 {
    font-size: 24px;
    letter-spacing: .007em;
    line-height: 24px;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
.product-grid-module .p1 {
    text-align: center;
    font-size: 14px;
    padding: 0 16.666%;
    line-height: 26px;
}
}
@media (min-width: 768px){
    .nav{
        width: 100%;
    }
    .nav a{
        opacity: 0.8;
    }
    .nav a:hover{
        opacity: 1;
    }
    .navleft{
        float: left;
    }
    .navright{
        float: left;
    }
    .navleft1{
        float: left;
    }
    .nav p{
        text-align: center;
        font-size: 14px;
    }
    .nav a:hover{
        color: #acb1b4;
    }
}
@media (max-width: 768px){
    .gao{
    width: 100%;
    text-align: center; 
    color: #acb1b4;
    font-size: 1.5em;
    padding-top: 5%;
    max-width: 940px;
    margin: 0 auto;
}


.fu1,.fu2{
    float: left;
    
}

.fu2{
}

.biao{
    font-size: 1.5em;
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;

}
}


@media (min-width: 768px){
    .gao{
    width: 100%;
    text-align: center; 
    color: #acb1b4;
    font-size: 1.5em;
    padding-top: 5%;
    max-width: 940px;
    margin: 0 auto;
}


.fu1,.fu2{
    float: left;
    
}

.fu2{
   
    margin-left: 2%;
}

.biao{
    font-size: 1.5em;
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;

}
}



@media (min-width: 768px){
   .shouhou{
    width: 100%;
    height: 2em;
    line-height: 1em; 
    color: #c9c5c5;
    font-weight: bold;
    padding-left: 35%;
    padding-right: 30%;
    text-align: center;
    font-size: 2em;
}
.shouhou .jianju:hover{
    cursor:pointer;
    color: #000;
}

.shouhou .jianju{
    padding-right: 20%;
}

}
@media(min-width: 768px){
    .footer{
    width: 100%;
    font-size: 1.3em;
   
  

}

.navbar {
     margin: 0 auto;
    max-width: 940px;
    

}
h4{
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 1.5em;
} 
.footer .langqin{
      float: left;
      
      padding-bottom: 2em;
}
.footer .langqin ul li{
    
    text-align: center;
   
    line-height: 1.5em;
    margin: 0 auto;
}
.footer ul li a{
    color: #9e9e9e;
}
.footer ul li a:hover{
    color: #000;
}
.footer .peisong{
    float: left;
   padding-left: 10%;
   
    
}
.footer .peisong ul li{
    
    text-align: center;
   
    line-height: 1.5em;
    margin: 0 auto;
}
.footer .zhifu{
    float: left;
    padding-left: 10%;
    
}
.footer .zhifu ul li{

    text-align: center;
 
    line-height: 1.5em;
    margin: 0 auto;
}
.footer .ban{
    width: 90%;
    font-size: 12px;
    padding-left: 15%;
    text-align: center;
    line-height: 5em;
}
}