.clearfix:before,
.clearfix:after{
content: " ";
display: table;
clear: both; /*http://haoduoshipin.com/v/166*/
}
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-size: 1em;
}
a{
	text-decoration: none;
	color: #9e9e9e;
}

ul{
	list-style: none;
}