ul{
	padding: 0px;
}
#logo{
	padding-top: 1px;
}
li{
	list-style: none;
}
h5 span a{
	color: #555;
}
.small{
	width: 45px;
    padding: 1px;
    background: #EEE;
    border: 1px solid #BBB;
}
.left1 a{
	margin-bottom: 37px;
}
.left2{
	padding-left: 0px;
}
.right{
	line-height: 25px;
}
.right1{
	    font: bold 17px "微软雅黑","黑体","宋体",verdana;
}
.right2{
	color: #666;
}
.price{
	font: bold 17px "微软雅黑","黑体","宋体",verdana;
}
.right6{
	margin: 10px 0;
	
	width: 45%;
}
.right7{
	margin-bottom: 10px;
}
.right8{
	margin-bottom: 10px;
}
.right9{
	margin-bottom: 10px;
}
.right10{
	margin-bottom: 10px;
}
footer{
	margin-top: 50px;
}
.footer img{
	padding-bottom: 20px;
}

.footer img{
	width: 80%;
}
