a{
	text-decoration: none;
	color: #000;
}
ul{
	padding: 0px;
}
#logo{
	padding-top: 1px;
}
li{
	list-style: none;
}
h5 span a{
	color: #555;
}
.nn{
	
	font-size: 1.4em;
}
.small{
	width: 45px;
    padding: 1px;
    background: #EEE;
    border: 1px solid #BBB;
}
.left1 a{
	margin-bottom: 37px;
}
.left2{
	padding-left: 0px;
}
.right{
	line-height: 25px;
}
.right1{
	    font: bold 17px "微软雅黑","黑体","宋体",verdana;
}
.right2{
	color: #666;
}
.price{
	font: bold 17px "微软雅黑","黑体","宋体",verdana;
}
.right6{
	margin: 10px 0;
	
	width: 45%;
}
.right7{
	margin-bottom: 10px;
}
.right8{
	margin-bottom: 10px;
}
.right9{
	margin-bottom: 10px;
}
.right10{
	margin-bottom: 10px;
}
footer{
	margin-top: 50px;
}
.footer img{
	padding-bottom: 20px;
}

.footer img{
	width: 80%;
}
.footer_top{
	background:#ededed;
	padding:3em 0;
}
.grid-3 h3{
	color: #414141;
	font-size: 1.1em;
	font-weight: 600;
}
ul.footer_list, ul.footer_social{
	padding:0;
	list-style:none;
}
ul.footer_list li a{
	color: #777;
	font-size: 0.8125em;
	font-weight: 500;
	line-height: 1.8em;
}
ul.footer_list li a:hover{
	text-decoration:none;
	color:#fd926d;
}