.clearfix:before,
.clearfix:after{
content: " ";
display: table;
clear: both; /*http://haoduoshipin.com/v/166*/
}

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	
	 
}

h3{
	padding-left: 0.5em;
	padding-bottom: 0.5em;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
body{
	 background: #EAEAF1;
	 font-size: 63%;
	 font-family: Helvetica,
	 Arial,
	 "Hiragino Sans GB",
	 "Microsoft Yahei",
	 "微软雅黑",
	 STHeiti,
	 "华文细黑",
	 sans-serif;
}
h1, h2, h3, .h1, .h2, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.header{
    width: 100%;
    
}
.header .logo{
    text-align: center;
    background-color: #CFD8DC;
}
.header ul{
    width: 100%;
    padding-left: 3%;
    font-weight: bold;
    padding-top: 3%;
}
.header ul li{
    float: left;
    
    width: 19.5%;
}
.icon-shopping-cart{
	
	position: absolute;
	right: 0.5em;
	top:0.5em;
	font-size: 2em;
	color: blacks;
	z-index: 888;
}

.main{
    padding-bottom: 2em;
}
.main .img{
	background-position-x:center;
	background-repeat: no-repeat;
	background-position-y: center;
    background-size: cover;
}
.homepage-1 .cta-container h2 {
    font-size: 28px;
    line-height: 30px;
    text-transform: none;
    letter-spacing: 0;
}
h2, .h2 {
    font-size: 40px;
    letter-spacing: .00001em;
    line-height: 40px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    text-transform: uppercase;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.main .cta-container .cta-container-inner, .homepage-1 .cta-container.center .cta-container-inner {
    margin: 0 auto;
    max-width: 980px;
    text-align: center;
    width: 100%;
}
.homepage-1 .cta-container h3 {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: .00125em;
    line-height: 13px;
    margin: 14px 0 30px;
    text-transform: uppercase;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.button-group {
    text-align: center;
}
.btn-primary {
    color: white;
    background-color: #1e1e1e;
    border: 0;
    box-shadow: inset 0 0 0 3px #1e1e1e;
}
button, input[type="button"], input[type="submit"], .btn {
    transition: all .125s ease-in-out;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 40px;
    min-width: 200px;
    max-width: 404px;
    margin-bottom: .25em;
    padding: 0 20px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    vertical-align: middle;
}
a {
    color: #1e1e1e;
}
a {
    background: transparent;
}
user agent stylesheeta:-webkit-any-link {
   
    text-decoration: underline;
    cursor: auto;
}
.main1{
    background: #f7f8f9;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}
.main1 .shop-by-label{
    padding-top: 2em;
}
.shop-by-label a{
    text-decoration: none;
    color: #acb1b4;
}
.shop-by-label{
    text-align: center;
}
.shop-by-type{
color: #1e1e1e;
    display: block;
    font-size: 12px;
    margin-top: 6px;
    text-transform: uppercase;
    letter-spacing: .25px;
    
}
.main1 img{
     margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
}
.mainauto{
    width: 100%;
    overflow: hidden;
    margin-top:2em 
}
.shop-by-label{
    text-align: center;
}
.mainright{
    width: 100%;
    overflow: hidden;
    margin-top: 2em
}
 .shop-by-label{
    padding-top: 2em;
}
 .shop-by-label a{
    text-decoration: none;
    color: #acb1b4;
}
.shop-by-label{
    text-align: center;
}

.homepage-3 {
    padding-bottom: 15px;
}
.product-grid-module {
    background: #fff;
    clear: both;
    margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
.product-grid-module-inner {
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.product-grid-module h2 {
    font-size: 24px;
    letter-spacing: .007em;
    line-height: 24px;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 767px){
.product-grid-module p {
    font-size: 14px;
    padding: 0 16.666%;
    line-height: 26px;
}
}
.product-grid-module p {
    color: #acb1b4;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 0 17.666%;
    text-align: center;
    text-transform: none;
}

.nav{
    width: 100%;
    text-align: center;
}
.navleft p,{
    margin: 0;
    padding: 0;
}
.price{
    margin-bottom: 1em;
}
.gao{
    width: 100%;
    text-align: center;
    color: #acb1b4;
    font-size: 1.5em;
}
.gao img{
    width: 100%;
}
.biao{
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
}
.shouhou{
    width: 100%;
    height: 2em;
    line-height: 1em; 
    padding-left: 0.8em;
    color: #c9c5c5;
    font-weight: bold;
    padding-left: 20%;
    
    font-size: 1.2em;

    
}

.shouhou .jianju{
    padding-right: 20%;
}
.footer{
    width: 100%;
    background-color:#CFD8DC ;
    padding-left: 5%;
    font-size: 1.3em;

}
h4{
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 1.5em;
} 
.footer .langqin{
      float: left;
      
      padding-bottom: 2em;
}
.footer .langqin ul li{
  
    text-align: center;

    line-height: 1.3em;
}
.footer ul li a{
    color: #9e9e9e;
}
.footer .peisong{
    float: left;
    padding-left: 5%;
}
.footer .peisong ul li{
   
    text-align: center;
 
    line-height: 1.3em;
}
.footer .zhifu{
    float: left;
    padding-left: 5%;
}
.footer .zhifu ul li{
    
    text-align: center;

    line-height: 1.3em;
}
.footer .ban{
    width: 90%;
    font-size: 12px;    
    padding-left: 15%;
    text-align: center;
    padding-top: 10%;
}

