.clearfix:before,
.clearfix:after{
content: " ";
display: table;
clear: both; /*http://haoduoshipin.com/v/166*/
}

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	
	 
}

h3{
	padding-left: 0.5em;
	padding-bottom: 0.5em;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
body{
	 background: #EAEAF1;
	 font-size: 63%;
}

.icon-align-justify{
	position: absolute;
	left: 0.5em;
	top: 0.5em;
	color:block;
	font-size: 2em;
}
.icon-align-justify:hover{
      transform:rotate(360deg);
}

.site-nav {
        position: absolute;
        
        background-color: #191918;
      }
      .site-nav-scrollable-container {
        display: none;
        overflow: auto;
        height: 100%;
      }
      .site-nav-transition .site-nav-scrollable-container {
        display: block;
        width: 10em;
      }      .site-nav-list-item-btn {
        color: #b3b3b1;
        display: block;
        padding: 0 25px;
        height: 42px;
        line-height: 45px;
        border: 0;
        background: black;
      }
      .site-nav-list-item-btn:hover {
        color: #fff;
        outline: 0;
      }
      .site-nav-overlay {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
      .site-nav-drawer-open .site-nav-overlay {
        left: 0;
        z-index: 900;
        display: block;
      }
      
      .site-nav-drawer-open .site-nav-logo {
        display: none;
       
      }
      .site-nav-transition .site-nav-logo {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;




      }
      .container {
        background: #EAEAF1;
        height: 100%;
        -webkit-transition: -webkit-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
        -moz-transition: -moz-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
        -o-transition: -o-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
        -ms-transition: -ms-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
        transition: transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
      }
      .site-nav-transition .container {
        position: fixed;
        width: 100%;

      }
      .site-nav-drawer-open .container {
        -webkit-transform: translate3d(10em,0,0);
        -moz-transform: translate3d(10em,0,0);
        -o-transform: translate3d(10em,0,0);
        -ms-transform: translate3d(10em,0,0);
        transform: translate3d(10em,0,0);
        transition:all 1s;
      }
      .scroll-region {
        height: 100%;

        overflow: auto;
        padding: 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing:boder-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
      }
.logo{
	display: block;
	width: 100%;
	text-align: center;
	

}
.header img{
	margin: 0% auto;
	padding-left: 20%;

}
.banner{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 17.188888em;
	
}
.banner .tupian{
	width: 500%;
	position: absolute;

}
.num{ 
    position:absolute;
    z-index:222; 
    list-style:none; 
    right:10px; 
    bottom:0px;
}
.num li{ 
	float:left; 
	width:20px; 
	height:20px; 
	border: 1px solid; 
	text-align:center; 
	line-height:20px; 
	margin-right:5px; 
	background:#aeabab; 
	color:#000;}
.num .cur{ 
	background:#F00; 
	color:#FFF;}
.banner1{
	width: 100%;
	padding-top:1em;
	height:12.5em; 
	overflow: hidden; 
}
.banner1 .one{
	padding-left: 1em;
	padding-top: 0.5em;
}
.banner1 .one a{
	width: 12.666666em;
	height: 12.5em;
}
/*----.banner1 .one{ 
	width:960px; 
	height:115px; 
	overflow:hidden;
	position:relative;
}

.banner1 .one ul{ 
	width:2880px;
	position:absolute;
}---*/

.banner1 .one ul li{ 
	margin-right:0.05%; 
	float:left;
	width:10em; 
}
.one{
	width: 1000%;
}
.banner1 h3{
	width: 100%;
}
.main{
	
	padding-top: 0.5em;
}
.main img, .main1 img, .main2 img, .main3 img{
	width: 100%;
}

.main1{
	width: 100%;
	padding-top: 0.5em;
}
.main2{
	width: 100%;
	padding-top: 0.5em;
}
.main3{
	width: 100%;
	padding-top: 0.5em;
}
.main3 h3{
	text-align: right;
	width: 100%;
	padding-right: 0.5em;
}
.main3 a{
	display: block;
}
.shouhou{
	width: 100%;
	height: 4em;
	line-height: 4em; 
	padding-left: 0.8em;
	text-align: center;
	color: #c9c5c5;
	font-weight: bold;
	
}
}
.shouhou span{ 
	font-size: 1.2em;
	
}
.footer{
	width: 100%;
	background-color:#CFD8DC ;
	padding-left: 10%;
	font-size: 1.5em;
}
s
h4{
	text-align: center;
	padding-bottom: 0.5em;
	padding-top: 1.5em;
} 
.footer .langqin{
      float: left;
      
      padding-bottom: 2em;
}
.footer .langqin ul li{
	width: 5em;
	text-align: center;
	height: 1.5em;
	line-height: 1.5em;
}
.footer ul li a{
	color: #9e9e9e;
}
.footer a:hover{
	color: #727272;
}
.footer .peisong{
	float: left;
	padding-left: 1em;
}
.footer .peisong ul li{
	width: 5em;
	text-align: center;
	height: 1.5em;
	line-height: 1.5em;
}
.footer .zhifu{
	float: left;
	padding-left: 1em;
}
.footer .zhifu ul li{
    width: 5em;
	text-align: center;
	height: 1.5em;
	line-height: 1.5em;
}
