

* { padding: 0; margin: 0; }

li { list-style: none; }



#wrap { width: 400px; height: 270px; position: absolute;  overflow:hidden; }

#iphone ul { width: 2000px; height: 270px; cursor: pointer; position: absolute; top: 0px; left: 0px; }

#iphone li { float: left; width:400px; height:270px; overflow:hidden; }