*{
	margin:0px;
	padding: 0px;
}
nav{
	width: 50%;
	height: 5em;
	background-color: blue;
	float: right;
	box-sizing:border-box;
	line-height: 5em;
	display: none;
}
nav a{
	text-decoration: none;
	color: #fff;
	display: block;
	float: left;
	margin-left:120px;
	padding: 10px;
}
menu{
	width: 10%;
	height: 15em;
	background-color: yellow;
	line-height: 5em;
}
menu a{
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
@media(min-width: 500px){
	menu{
		display: none;
	}
	nav{
		display: block;
	}
}